<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand ps-5" href="#">Onliner.by</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                <a th:if="${session.account != null}" class="nav-link" href="/">Магазин</a>
                <a th:if="${session.account != null}" class="nav-link" th:href="@{/profile/{id}(id=${session.account.id})}">Профиль</a>
                <a th:if="${session.account != null}" class="nav-link" href="/">Отзывы</a>
                <a th:if="${session.account != null}" class="nav-link" href="/">Корзина</a>
                <a th:if="${session.account == null}" class="nav-link" href="/login">Войти</a>
                <a th:if="${session.account == null}" class="nav-link" href="/registration">Регистрация</a>
                <a th:if="${session.account != null}" class="nav-link" href="/logout">Выйти</a>

                <a th:if="${session.account == null}" class="nav-link disabled" aria-disabled="true">Привет, Гость!</a>
                <a th:if="${session.account != null}" th:text="'Привет, ' + ${session.account.getUsername()} + '!'"
                   class="nav-link disabled" aria-disabled="true">Привет, Гость!</a>

            </div>
        </div>
</nav>
</html>