<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/login">Onliner.by</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Домой</a>
                    </li>
                    <li th:if="${session.account == null}" class="nav-item">
                        <a class="nav-link" href="/registration">Регистрация</a>
                    </li>
                    <li th:if="${session.account == null}" class="nav-item">
                        <a class="nav-link" href="/login">Вход</a>
                    </li>
                    <li th:if="${session.account != null}" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cart">Корзина</a>
                    </li>
                    <li th:if="${session.account != null}" class="nav-item">
                        <a class="nav-link" href="/profile/">Профиль</a>
                    </li>
                    <li th:if="${session.account != null}" class="nav-item">
                        <a class="nav-link" href="/logout">Выход</a>
                    </li>
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a th:if="${session.account == null}" class="nav-link disabled" aria-disabled="true">Привет Гость</a>
                        <a th:if="${session.account != null}" th:text="'Hello, ' + ${session.account.getUsername()} + '!'" class="nav-link disabled" aria-disabled="true"></a>
                    </li>
                </ul>
<!--                <form class="d-flex" role="search">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
            </div>
        </div>
    </nav>
</header>
<script th:insert="_bootstrap::script"></script>
</body>
</html>