<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Заказ оформлен</title>
</head>
<body>
<header th:insert="_header"></header>
<h1>Заказ оформлен</h1>
<!--<form action="/order/returnToShop" method="post">-->
<!--    <button type="submit" class="btn btn-primary border-top">Вернуться к покупкам</button>-->
<!--</form>-->
</body>
</html>