<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Onliner.by</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Главная</a>
                <a class="nav-link" href="#">Магазин</a>
                <a class="nav-link" href="#">Профиль</a>
                <a class="nav-link" href="#">Отзывы</a>
                <a class="nav-link" href="#">Карзина</a>

                <a class="nav-link disabled" aria-disabled="true">Выход</a>
            </div>
        </div>
    </div>
</nav>



<div class="profile-header">
    <div class="container text-center">


        <h1>Профиль пользователя</h1>

    </div>
</div>



<div class="container content-section">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="profile-img">
                <img src="https://via.placeholder.com/150" alt="Аватарка профиля">
            </div>
            <h2 th:text="${username}">Иван Иванов</h2>
            <p class="text-muted">Участник с <span th:text="${joinDate}">2024</span> года</p>
            <button class="btn btn-primary">Редактировать профиль</button>
        </div>

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">Информация</div>
                <div class="card-body">
                    <h5 class="card-title">Контактная информация</h5>
                    <p>Email: <span th:text="${email}">ivanov@example.com</span></p>
                    <p>Телефон: <span th:text="${phone}">+375 29 123-45-67</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>