<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<header th:insert="_header::header"></header>
<div class="container">
    <div class="row justify-content-center vh-100">
        <div class="col-4 align-self-center">
            <!--/*@thymesVar id="account" type="by.tms.onlinerclonec29onl.model.Account"*/-->
            <form th:action="@{/registration}" th:object="${account}" method="post">
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="exampleInputName1">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Username</label>
                    <input type="text" th:field="*{username}" class="form-control" id="exampleInputUsername1">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                </div>
                <!--                <div class="mb-3 form-check">-->
                <!--                    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
                <!--                    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
                <!--                </div>-->
                <button type="submit" class="btn btn-primary w-100">Confirm</button>
            </form>
        </div>
    </div>
</div>
<script th:insert="_bootstrap::script"></script>
</body>
</html>