<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Управление Магазином</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="_header"></header>

<div class="container mt-5">
    <h1 class="text-center mb-4">Управление Магазином</h1>

    <!--/*@thymesVar id="shop" type="by.tms.onlinerclonec29onl.model.Shop"*/-->
    <div th:if="${shop != null}" th:object="${shop}">
        <div class="card">
            <div class="card-header">
                <h2 th:text="${shop.title}"></h2>
            </div>
            <div class="card-body">
                <form th:action="@{/shop/update}" method="post" class="mt-4">
                    <input type="hidden" th:value="${shop.id}" name="shopId"/>

                    <div class="mb-3">
                        <label for="shopTitle">Название Магазина</label>
                        <input type="text" class="form-control" id="shopTitle" name="title" th:value="${shop.title}"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="shopDescription">Описание Магазина</label>
                        <textarea class="form-control" id="shopDescription" name="description" rows="4" required
                                  th:text="${shop.description}"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Обновить Магазин</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Удалить Магазин
                    </button>
                    <a class="btn btn-primary" href="/shop/products" role="button">Мои товары</a>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${shop == null}">
        <p class="alert alert-warning text-center">У вас еще нет магазина. Пожалуйста, создайте его.</p>
    </div>
    <div th:if="${shop == null}">
        <div class="card">
            <div class="card-header">
                <h2>Создать Магазин</h2>
            </div>
            <div class="card-body">
                <form th:action="@{/shop/create}" method="post">
                    <div class="mb-3">
                        <label for="shopTitle" class="form-label">Название Магазина</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="shopDescription" class="form-label">Описание Магазина</label>
                        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Создать Магазин</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--/*@thymesVar id="shop" type="by.tms.onlinerclonec29onl.model.Shop"*/-->
<div th:object="${shop}" class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот магазин? Это действие необратимо.
            </div>
            <div class="modal-footer">
                <form th:action="@{/shop/delete}" method="post">
                    <input type="hidden" th:value="${shop.id}" name="shopId"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="_bootstrap::script"></th:block>
</body>
</html>


